// SCSS variables

$white: #FFFFFF;
$ltgray: #EEEEEE;
$dkgray: #333333;
$teal: #07B8B6;
$plum: #690A52;

$fonts: 'Roboto', sans-serif;

.about {
  max-width: 1300px;
  h2 {
    padding: 1rem 1.5rem 1rem;
    font-family: $fonts;
    font-weight: 100;
    color: $dkgray;
    font-size: 2rem;
    img {
      width: 4rem;
      padding: .5rem;
      vertical-align: middle;
    }
  }
  article {
    font-family: $fonts;
    font-weight: 300;
    img {
      width: 100%;
      max-width: 600px;
      padding: .5rem 2rem;
    }
    p {
      padding: 1rem 2rem;
      &:last-of-type {
        padding-bottom: 3.45rem;
      }
      a {
        color: $plum;
        &:hover {
          color: $teal;
        }
      }
    }
  }
}

@media(min-width: 640px) {
  .about article {
    img {
      max-width: 60%;
      float: right;
    }
    a {
      color: $plum;
      &:hover {
        color: $teal;
      }
    }
  }
}

@media(min-width: 800px) {
  .about article img {
    max-width: 40%;
    float: right;
  }
}

@media(min-width: 1000px) {
  .about article img {
    max-width: 40%;
    padding-left: 5%;
    float: right;
  }
}

@media(min-width: 1300px) {
  .about article p {
    font-size: 1.2rem;
  }
}