// SCSS variables

$white: #FFFFFF;
$ltgray: #EEEEEE;
$dkgray: #333333;
$teal: #07B8B6;
$plum: #690A52;

$fonts: 'Roboto', sans-serif;

.development {
  padding-bottom: 1rem;
  h2 {
    padding: 1.5rem 2rem .5rem;
    font-family: $fonts;
    font-weight: 100;
    color: $dkgray;
    font-size: 1.5rem;
  }
  .hero {
    width: 100%;
    padding: .5rem 2rem;
    img {
      width: 100%;
      max-width: 500px;
      border: 1px solid #999999;
    }
  }
  .text {
    p {
      padding: .5rem 2rem .5rem;
      font-family: $fonts;
      font-weight: 300;
      color: $dkgray;
      font-size: 1rem;
      max-width: 45rem;
      &:last-of-type {
        font-weight: 500;
      }
      a {
        color: $plum;
        &:hover {
          color: $teal;
        }
      }
    }
    .view {
      display: inline-block;
      text-align: center;
      width: 12rem;
      padding: .75rem 1rem;
      font-family: $fonts;
      font-size: 1.1rem;
      font-weight: 300;
      color: black;
      background-color: $ltgray;
      border: 0;
      text-decoration: none;
      &:first-of-type {
        margin-left: 2rem;
        margin-right: 1rem;
      }
      &:hover {
        background-color: $teal;
        animation: buttonup .25s ease;
      }
    }
    ul {
      list-style: url('../images/bullet.svg');
      padding: 0 2rem 2rem 3rem;
      li {
        font-family: $fonts;
        font-weight: 300;
        padding-left: .5rem;
      }
    }
  }
  .extras {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    img {
      width: 100%;
      max-width: 500px;
      margin: .5rem 0;
      border: 1px solid #999999;
    }
  }
}

@media (min-width: 800px) {
  .development {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    h2 {
      flex-basis: 100%;
    }
    .hero {
      flex-basis: 45%;
      max-width: 540px;
      cursor: pointer;
    }
    .text {
      flex-basis: 55%;
    }
    .extras {
      flex-basis: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      img {
        width: 32%;
        max-width: 830px;
        margin: 1rem 1rem 1rem 0;
        cursor: pointer;
      }
    }
    padding-bottom: 3rem;
  }
}

.lightbox-off {
  display: none;
}

.lightbox-on {
  display: none;
}

@media(min-width: 800px) {
  .lightbox-deact {
    animation: lightout .25s linear;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51,51,51,.95);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    #under {
      width: 70%;
      max-width: 830px;
      background-image: none;
      background-size: cover;
      display: block;
      .zoom {
        top: 1rem;
        width: 100%;
        height: 100%;
        opacity: 1;
        display: block;
      }
    }
    .fa-angle-double-left {
      color: white;
      padding: 1rem;
      opacity: .5;
      animation: lightout .25s linear;
    }
    .fa-angle-double-right {
      color: white;
      padding: 1rem;
      opacity: .5;
      animation: lightout .25s linear;
    }
    .fa-window-close {
      color: white;
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem 2rem;
      opacity: .5;
      animation: lightout .25s linear;
    }
  }
  .lightbox-on {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51,51,51,.95);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: lightfade .25s ease-out;
    #under {
      width: 70%;
      max-width: 830px;
      background-image: none;
      background-size: cover;
      display: block;
      .zoom {
        top: 1rem;
        width: 100%;
        height: 100%;
        opacity: 1;
        display: block;
      }
      .topout {
        animation: lightout .5s;
        opacity: 0;
      }
    }
    .fa-angle-double-left {
      color: white;
      padding: 25% 1rem;
      opacity: .5;
      animation: iconsin .5s linear;
      &:hover {
        opacity: 1;
      }
    }
    .fa-angle-double-right {
      color: white;
      padding: 25% 1rem;
      opacity: .5;
      animation: iconsin .5s linear;
      &:hover {
        opacity: 1;
      }
    }
    .fa-window-close {
      color: white;
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem 2rem;
      opacity: .5;
      animation: iconsin .5s linear;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@keyframes lightout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lightfade {
  0% {
    background-color: rgba(51,51,51,0);
  }
  100% {
    background-color: rgba(51,51,51,.95);
  }
}

@keyframes iconsin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}

@keyframes imageup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes buttonup {
  0% {
    background-color: $ltgray;
  }
  100% {
    background-color: $teal;
  }
}

@media (min-width: 1300px) {
  .development {
    .text {
      p {
        font-size: 1.2rem;
      }
      ul {
        font-size: 1.2rem;
      }
    }
  }
}
