.development {
  padding-bottom: 1rem; }
  .development h2 {
    padding: 1.5rem 2rem .5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #333333;
    font-size: 1.5rem; }
  .development .hero {
    width: 100%;
    padding: .5rem 2rem; }
    .development .hero img {
      width: 100%;
      max-width: 500px;
      border: 1px solid #999999; }
  .development .text p {
    padding: .5rem 2rem .5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #333333;
    font-size: 1rem;
    max-width: 45rem; }
    .development .text p:last-of-type {
      font-weight: 500; }
    .development .text p a {
      color: #690A52; }
      .development .text p a:hover {
        color: #07B8B6; }
  .development .text ul {
    list-style: url("../images/bullet.svg");
    padding: 0 2rem 2rem 3rem; }
    .development .text ul li {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      padding-left: .5rem; }
  .development .extras {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0 2rem; }
    .development .extras img {
      width: 100%;
      max-width: 500px;
      margin: .5rem 0;
      border: 1px solid #999999; }

@media (min-width: 800px) {
  .development {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 3rem; }
    .development h2 {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
    .development .hero {
      -ms-flex-preferred-size: 45%;
          flex-basis: 45%;
      max-width: 540px; }
    .development .text {
      -ms-flex-preferred-size: 55%;
          flex-basis: 55%; }
    .development .extras {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .development .extras img {
        width: 32%;
        max-width: 830px;
        margin: 1rem 1rem 1rem 0; } }
.lightbox-off {
  display: none; }

.lightbox-on {
  display: none; }

@media (min-width: 800px) {
  .lightbox-on {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.95);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .lightbox-on img {
      margin-top: 1rem;
      width: 830px;
      max-width: 70%; }
    .lightbox-on .fa-angle-double-left {
      color: white;
      padding: 1rem;
      opacity: .5; }
      .lightbox-on .fa-angle-double-left:hover {
        opacity: 1; }
    .lightbox-on .fa-angle-double-right {
      color: white;
      padding: 1rem;
      opacity: .5; }
      .lightbox-on .fa-angle-double-right:hover {
        opacity: 1; }
    .lightbox-on .fa-window-close {
      color: white;
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem 2rem;
      opacity: .5; }
      .lightbox-on .fa-window-close:hover {
        opacity: 1; } }
.development a[target="_blank"]:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: .8rem;
  color: #07B8B6;
  content: " \f35d"; }

/*# sourceMappingURL=dev.css.map */