// SCSS variables

$white: #FFFFFF;
$ltgray: #EEEEEE;
$dkgray: #333333;
$teal: #07B8B6;
$plum: #690A52;

$fonts: 'Roboto', sans-serif;

.development {
  padding-bottom: 1rem;
  h2 {
    padding: 1.5rem 2rem .5rem;
    font-family: $fonts;
    font-weight: 100;
    color: $dkgray;
    font-size: 1.5rem;
  }
  .hero {
    width: 100%;
    padding: .5rem 2rem;
    img {
      width: 100%;
      max-width: 500px;
      border: 1px solid #999999;
    }
  }
  .text {
    p {
      padding: .5rem 2rem .5rem;
      font-family: $fonts;
      font-weight: 300;
      color: $dkgray;
      font-size: 1rem;
      max-width: 45rem;
      &:last-of-type {
        font-weight: 500;
      }
      a {
        color: $plum;
        &:hover {
          color: $teal;
        }
      }
    }
    ul {
      list-style: url('../images/bullet.svg');
      padding: 0 2rem 2rem 3rem;
      li {
        font-family: $fonts;
        font-weight: 300;
        padding-left: .5rem;
      }
    }
  }
  .extras {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    img {
      width: 100%;
      max-width: 500px;
      margin: .5rem 0;
      border: 1px solid #999999;
    }
  }
}

@media (min-width: 800px) {
  .development {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    h2 {
      flex-basis: 100%;
    }
    .hero {
      flex-basis: 45%;
      max-width: 540px;
    }
    .text {
      flex-basis: 55%;
    }
    .extras {
      flex-basis: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      img {
        width: 32%;
        max-width: 830px;
        margin: 1rem 1rem 1rem 0;
      }
    }
    padding-bottom: 3rem;
  }
}

.lightbox-off {
  display: none;
}

.lightbox-on {
  display: none;
}

@media(min-width: 800px) {
  .lightbox-on {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51,51,51,.95);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: lightfade .25s ease-out;
    img {
      margin-top: 1rem;
      width: 830px;
      max-width: 70%;
      animation: imageup .25s ease-out;
    }
    .fa-angle-double-left {
      color: white;
      padding: 1rem;
      opacity: .5;
      animation: iconsin .5s linear;
      &:hover {
        opacity: 1;
      }
    }
    .fa-angle-double-right {
      color: white;
      padding: 1rem;
      opacity: .5;
      animation: iconsin .5s linear;
      &:hover {
        opacity: 1;
      }
    }
    .fa-window-close {
      color: white;
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem 2rem;
      opacity: .5;
      animation: iconsin .5s linear;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@keyframes lightfade {
  0% {
    background-color: rgba(51,51,51,0);
  }
  100% {
    background-color: rgba(51,51,51,.95);
  }
}

@keyframes iconsin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}

@keyframes imageup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Insert FA external link icon after external link
.development a[target="_blank"]:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: .8rem;
    color: $teal;
    content: " \f35d";
}