// SCSS variables

$white: #FFFFFF;
$ltgray: #EEEEEE;
$dkgray: #333333;
$teal: #07B8B6;
$plum: #690A52;

$fonts: 'Roboto', sans-serif;

// Basic normalization

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding-bottom: 100px;
}

header {
  width: 100%;
  background-image: url('../images/splash-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  a {
    color: $dkgray;
    text-decoration: none;
    h1 {
      img {
        display: inline-block;
        width: 60%;
        margin: 25vh 20%;
      }
    }
  }
}

@media(min-width: 1000px) {
  header {
    background-image: url('../images/splash-desktop.jpg');
    height: 100vh;
    a {
      h1 {
        img {
          width: 40%;
          margin: 25vh 30%;
        }
      }
    }
  }
}

@media(min-width: 1280px) {
  header {
    background-image: url('../images/splash-hd.jpg');
    height: 100vh;
  }
}


nav {
  #hamburger {
    z-index: 3;
    width: 50px;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
  }
  ul {
    display: none;
    background-color: $plum;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem 0 5rem;
    list-style: none;
    margin: 0;
    li {
      &:hover {
        a svg .st0 {
          fill:#07b8b6;
          animation: fadein .25s linear;
        }
      }

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem 2rem;
        text-decoration: none;
        svg {
          width: 30px;
          .st0{fill:#ffffff;}
          .st1{fill:#690A52;}
          .st2{fill:#eeeeee;}
        }
        img {
          width: 30px;
        }
        p {
          font-family: $fonts;
          color: $white;
          font-weight: 300;
          padding: 1rem;
        }
      }
    }
  }
}

.hidden {
  display: hidden;
  bottom: -100%;
}

.hide {
  display: hidden;
  bottom: -100%;
  animation: away .5s cubic-bezier(.17,1,.86,.97);
}

.shown {
  display: block;
  bottom: 0;
  animation: slide .4s cubic-bezier(.17,1,.86,.97);
}

@keyframes slide {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes away {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -100%;
  }
}

@keyframes fadein {
  0% {
    fill:#ffffff;
  }
  100% {
    fill:#07b8b6;
  }
}

@media(min-width: 750px) {
  nav {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: $plum;
    #hamburger {
      display: none;
    }
    ul {
      float: right;
      display: block;
      background-color: inherit;
      position: relative;
      padding: 0;
      list-style: none;
      margin: 0;
      li {
        float: left;
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: .8rem 1rem .6rem;
          text-decoration: none;
          img {
            width: 30px;
          }
          p {
            font-family: $fonts;
            color: $white;
            font-weight: 300;
            padding: 1rem;
          }
        }
      }
    }
  }
}

.blurb {
  font-family: $fonts;
  font-weight: 300;
  padding: 2rem 2rem 0;
  .lauren {
    display: none;
  }
  p {
    padding-bottom: 1rem;
    color: $dkgray;
  }
}

@media(min-width: 800px) {
  .blurb {
    float: left;
    width: 50%;
    max-width: 450px;
    .lauren {
      display: block;
      width: 95%;
      max-width: 450px;
      padding: 0 1rem 1rem 0;
    }
  }
}

.links {
  padding: 2rem;
  figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 3rem;
    img {
      width: 75px;
    }
    figcaption {
      padding-left: 2rem;
      a {
        color: $dkgray;
        text-decoration: none;
        h3 {
          font-family: $fonts;
          font-weight: 100;
          font-size: 1.5rem;
        }
        p {
          font-family: $fonts;
          font-weight: 300;
          color: $dkgray;
        }
      }
    }
  }
}

footer {
  z-index: 2;
  background-color: $plum;
  padding: 1.5rem 2rem 1rem;
  margin-right: auto;
  position: fixed;
  width: 100%;
  bottom: 0;
  .icons {
    display: inline;
    margin-left: auto;
    a {
      margin: .5rem;
      &:hover {
        i {
          color: $teal;
          animation: icons .25s linear;
        }
      }

      i {
        color: $white;
      }
    }
    p {
      color: $white;
      font-family: $fonts;
      font-weight: 300;
      font-size: .8rem;
      padding: .5rem;
    }
  }
}

@keyframes icons {
  0% {
    color: #ffffff;
  }
  100% {
    color: #07b8b6;
  }
}

@media(min-width: 750px) {
  footer {
    position: relative;
    bottom: 0;
  }
  .container {
    padding-bottom: 0;
  }
}