* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  padding-bottom: 100px; }

header {
  width: 100%;
  background-image: url("../images/splash-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center; }
  header a {
    color: #333333;
    text-decoration: none; }
    header a h1 img {
      display: inline-block;
      width: 70%;
      margin: 20vh 15%; }

@media (min-width: 600px) {
  header {
    height: 100vh; }
    header a h1 img {
      width: 60%;
      margin: 22.5vh 20%; } }
@media (min-width: 1000px) {
  header {
    background-image: url("../images/splash-desktop.jpg");
    height: 100vh; }
    header a h1 img {
      width: 40%;
      margin: 25vh 30%; } }
@media (min-width: 1280px) {
  header {
    background-image: url("../images/splash-hd.jpg");
    height: 100vh; } }
nav #hamburger {
  z-index: 3;
  width: 50px;
  position: fixed;
  bottom: .9rem;
  right: 2rem; }
nav ul {
  display: none;
  background-color: #690A52;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem 0 5rem;
  list-style: none;
  margin: 0; }
  nav ul li:hover a svg .st0 {
    fill: #07b8b6;
    -webkit-animation: fadein .25s linear;
            animation: fadein .25s linear; }
  nav ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 2rem;
    text-decoration: none; }
    nav ul li a svg {
      width: 30px; }
      nav ul li a svg .st0 {
        fill: #ffffff; }
      nav ul li a svg .st1 {
        fill: #690A52; }
      nav ul li a svg .st2 {
        fill: #eeeeee; }
    nav ul li a img {
      width: 30px; }
    nav ul li a p {
      font-family: "Roboto", sans-serif;
      color: #FFFFFF;
      font-weight: 300;
      padding: 1rem; }

.hidden {
  display: hidden;
  bottom: -100%; }

.hide {
  display: hidden;
  bottom: -100%;
  -webkit-animation: away 0.5s cubic-bezier(0.17, 1, 0.86, 0.97);
          animation: away 0.5s cubic-bezier(0.17, 1, 0.86, 0.97); }

.shown {
  display: block;
  bottom: 0;
  -webkit-animation: slide 0.4s cubic-bezier(0.17, 1, 0.86, 0.97);
          animation: slide 0.4s cubic-bezier(0.17, 1, 0.86, 0.97); }

@-webkit-keyframes slide {
  0% {
    bottom: -100%; }
  100% {
    bottom: 0; } }

@keyframes slide {
  0% {
    bottom: -100%; }
  100% {
    bottom: 0; } }
@-webkit-keyframes away {
  0% {
    bottom: 0; }
  100% {
    bottom: -100%; } }
@keyframes away {
  0% {
    bottom: 0; }
  100% {
    bottom: -100%; } }
@-webkit-keyframes fadein {
  0% {
    fill: #ffffff; }
  100% {
    fill: #07b8b6; } }
@keyframes fadein {
  0% {
    fill: #ffffff; }
  100% {
    fill: #07b8b6; } }
@media (min-width: 750px) {
  nav {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #690A52; }
    nav #hamburger {
      display: none; }
    nav ul {
      float: right;
      display: block;
      background-color: inherit;
      position: relative;
      padding: 0;
      list-style: none;
      margin: 0; }
      nav ul li {
        float: left; }
        nav ul li a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: .8rem 1rem .6rem;
          text-decoration: none; }
          nav ul li a img {
            width: 30px; }
          nav ul li a p {
            font-family: "Roboto", sans-serif;
            color: #FFFFFF;
            font-weight: 300;
            padding: 1rem; } }
.blurb {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 2rem 2rem 0; }
  .blurb .lauren {
    display: none; }
  .blurb p {
    padding-bottom: 1rem;
    color: #333333; }

@media (min-width: 750px) {
  .blurb {
    float: left;
    width: 50%;
    max-width: 450px; }
    .blurb .lauren {
      display: block;
      width: 95%;
      max-width: 450px;
      padding: 0 1rem 1rem 0; } }
.links {
  padding: 2rem; }
  .links figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 3rem; }
    .links figure img {
      width: 75px; }
    .links figure figcaption {
      padding-left: 2rem; }
      .links figure figcaption a {
        color: #333333;
        text-decoration: none; }
        .links figure figcaption a h3 {
          font-family: "Roboto", sans-serif;
          font-weight: 100;
          font-size: 1.5rem; }
        .links figure figcaption a p {
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          color: #333333; }

footer {
  z-index: 2;
  background-color: #690A52;
  padding: 1rem;
  margin-right: auto;
  position: fixed;
  width: 100%;
  bottom: 0; }
  footer .icons {
    display: inline;
    margin-left: auto; }
    footer .icons a {
      margin: .5rem; }
      footer .icons a:hover i {
        color: #07B8B6;
        -webkit-animation: icons .25s linear;
                animation: icons .25s linear; }
      footer .icons a i {
        color: #FFFFFF; }

@-webkit-keyframes icons {
  0% {
    color: #ffffff; }
  100% {
    color: #07b8b6; } }

@keyframes icons {
  0% {
    color: #ffffff; }
  100% {
    color: #07b8b6; } }
@media (min-width: 750px) {
  footer {
    position: relative;
    bottom: 0; }

  .container {
    padding-bottom: 0; } }

/*# sourceMappingURL=index.css.map */