.portfolio h2 {
  padding: 1rem 1.5rem 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #333333;
  font-size: 2rem; }
  .portfolio h2 img {
    width: 4rem;
    padding: .5rem;
    vertical-align: middle; }
.portfolio article h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  background-color: #690A52;
  color: #FFFFFF;
  padding: 1rem 0 1rem 1.5rem; }
.portfolio article .wrapper figure {
  margin: 1rem;
  display: block;
  padding: 0;
  text-align: center; }
  .portfolio article .wrapper figure a img {
    width: 100%;
    max-width: 500px;
    border: 1px solid #999999;
    display: block;
    margin: 0 auto; }
  .portfolio article .wrapper figure figcaption {
    background-color: #EEEEEE;
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    padding: .5rem 1rem 1rem;
    width: 100%;
    max-width: 500px; }
    .portfolio article .wrapper figure figcaption h4 {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 1rem; }
      .portfolio article .wrapper figure figcaption h4 a {
        color: #690A52;
        text-decoration: none; }
    .portfolio article .wrapper figure figcaption p {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 1rem; }

@media (max-width: 799px) {
  .portfolio article h3 {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0; } }
@media (min-width: 800px) {
  .portfolio {
    padding-bottom: 2rem; }
    .portfolio article {
      margin: 0 2rem; }
      .portfolio article .wrapper {
        margin-left: 230px;
        padding: 0 1.5rem 0 30px;
        background-color: #EEEEEE;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .portfolio article .wrapper figure {
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%;
          margin: 0;
          padding: 1rem;
          display: block; }
          .portfolio article .wrapper figure a img {
            display: block;
            width: 100%;
            max-width: 500px;
            margin: 0 auto; }
          .portfolio article .wrapper figure figcaption {
            padding: .5rem 0 .5rem 0; }
    .portfolio .development h3 {
      position: absolute;
      top: 210px;
      width: 250px; }
    .portfolio .marketing h3 {
      position: absolute;
      top: 270px;
      width: 250px; }
    .portfolio .copywriting h3 {
      position: absolute;
      top: 330px;
      width: 250px; }
    .portfolio article.under h3 {
      background-color: #999999;
      color: #FFFFFF;
      width: 230px;
      padding: 1rem 0 1rem 1rem;
      font-size: 1.15rem; }
      .portfolio article.under h3:hover {
        background-color: #07B8B6; }
    .portfolio article.under .wrapper figure {
      display: none; }
    .portfolio article.over h3 {
      color: #FFFFFF;
      background-color: #690A52;
      font-size: 1.15rem;
      padding: 1rem 0 1rem 1rem;
      -webkit-animation: stretch .3s linear;
              animation: stretch .3s linear; }
    .portfolio article.over .wrapper figure {
      display: block; }

  .portfolio article .wrapper {
    padding: 0 1.5rem 0 30px; }
    .portfolio article .wrapper figure {
      margin: 0;
      padding: 1rem; } }
@-webkit-keyframes stretch {
  0% {
    width: 230px; }
  100% {
    width: 250px; } }
@keyframes stretch {
  0% {
    width: 230px; }
  100% {
    width: 250px; } }
@media (min-width: 1400px) {
  .portfolio article .wrapper figure figcaption h4 {
    font-size: 1.2rem; }
  .portfolio article .wrapper figure figcaption p {
    font-size: 1.2rem; } }
@media (min-width: 1400px) {
  .portfolio article .wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .portfolio article .wrapper figure {
      -ms-flex-preferred-size: auto;
          flex-basis: auto; }
      .portfolio article .wrapper figure a img {
        margin: 0 auto 0 0; }
      .portfolio article .wrapper figure figcaption {
        margin: 0 auto 0 0;
        padding-left: 0; } }

/*# sourceMappingURL=portfolio.css.map */