// SCSS variables

$white: #FFFFFF;
$ltgray: #EEEEEE;
$dkgray: #333333;
$teal: #07B8B6;
$plum: #690A52;

$fonts: 'Roboto', sans-serif;

.resume {
  font-family: $fonts;
  font-weight: 300;
  color: $dkgray;
  h2 {
    padding: 1rem 1.5rem 1rem;
    font-family: $fonts;
    font-weight: 100;
    color: $dkgray;
    font-size: 2rem;
    img {
      width: 4rem;
      padding: .5rem;
      vertical-align: middle;
    }
  }
  .heading {
    padding: 1rem 2rem;
    font-family: $fonts;
    font-size: 1rem;
    font-weight: 300;
    color: $dkgray;
    display: flex;
    flex-direction: row;
    .name {
      display: none;
    }
    .contact {
      p {
        &:first-of-type {
          font-weight: 500;
        }
        &:nth-of-type(2) {
          display: none;
        }
        a {
          text-decoration: none;
          color: $dkgray;
        }
      }
    }
    .docs {
      padding-left: 1.25rem;
      a {
        text-align: center;
        padding: 0 .25rem;
        display: inline-block;
        font-size: .75rem;
        color: $dkgray;
        text-decoration: none;
        i {
          font-size: 2rem;
          display: block;
          color: $white;
          width: 3rem;
          height: 3rem;
          padding: .5rem;
          background-color: $teal;
          border-radius: .5rem;
        }
      }
    }
  }
  .block {
    padding: 0;
    font-family: $fonts;
    font-size: 1rem;
    font-weight: 300;
    color: $dkgray;
    h3 {
      font-family: $fonts;
      font-weight: 300;
      font-size: 1.25rem;
      background-color: $ltgray;
      padding: 1rem 0 1rem 2rem;
    }
    ul {
      list-style: url('../images/bullet.svg');
      padding: 2rem 2rem 2rem 3rem;
      li {
        padding-bottom: 1rem;
        padding-left: .5rem;
        strong {
          font-weight: 500;
          font-variant: small-caps;
        }
      }
    }
    p {
      font-family: $fonts;
      font-weight: 300;
      font-size: 1rem;
      padding: 0 2rem;
      &:first-of-type {
        padding-top: 1.5rem;
        font-weight: 500;
      }
      a {
        text-decoration: none;
        color: $dkgray;
      }
    }
  }
  .education {
    p:nth-of-type(3) {
      padding-top: 1.5rem;
      font-weight: 500;
    }
    p:last-of-type {
      padding-bottom: 1.5rem;
    }
  }
}

@media(max-width: 799px) {
  .resume .block h3 {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: $plum;
    color: $white;
  }
}

@media(min-width:800px) {
  .resume .skills ul {
    column-count: 2;
    padding-left: 1.5rem;
    padding-right: 1rem;
    li {
      display: inline-block;
      width: 100%;
      &::before {
        content: '\25cf';
        color: $teal;
        margin-right: 1rem;
      }
    }
  }
}

@media(min-width:1000px) {
  .resume .skills ul {
    column-count: 3;
  }
}

@media(min-width:1200px) {
  .resume .skills ul {
    column-count: 4;
  }
}