* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  padding-bottom: 100px; }

header {
  background-color: #690A52; }
  header h1 {
    display: inline-block; }
    header h1 a {
      text-decoration: none; }
      header h1 a img {
        padding: .75rem .75rem .15rem;
        width: 15rem; }

nav #hamburger {
  z-index: 3;
  width: 50px;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem; }
nav ul {
  display: none;
  background-color: #690A52;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem 0 5rem;
  list-style: none;
  margin: 0; }
  nav ul li:hover a svg .st0 {
    fill: #07b8b6;
    -webkit-animation: fadein .25s linear;
            animation: fadein .25s linear; }
  nav ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 2rem;
    text-decoration: none; }
    nav ul li a svg {
      width: 30px; }
      nav ul li a svg .st0 {
        fill: #ffffff; }
      nav ul li a svg .st1 {
        fill: #690A52; }
      nav ul li a svg .st2 {
        fill: #eeeeee; }
    nav ul li a p {
      font-family: "Roboto", sans-serif;
      color: #FFFFFF;
      font-weight: 300;
      padding: 1rem; }

@-webkit-keyframes fadein {
  0% {
    fill: #ffffff; }
  100% {
    fill: #07b8b6; } }

@keyframes fadein {
  0% {
    fill: #ffffff; }
  100% {
    fill: #07b8b6; } }
.hidden {
  display: hidden;
  bottom: -100%; }

.hide {
  display: hidden;
  bottom: -100%;
  -webkit-animation: away 0.5s cubic-bezier(0.17, 1, 0.86, 0.97);
          animation: away 0.5s cubic-bezier(0.17, 1, 0.86, 0.97); }

.shown {
  display: block;
  bottom: 0;
  -webkit-animation: slide 0.4s cubic-bezier(0.17, 1, 0.86, 0.97);
          animation: slide 0.4s cubic-bezier(0.17, 1, 0.86, 0.97); }

@-webkit-keyframes slide {
  0% {
    bottom: -100%; }
  100% {
    bottom: 0; } }

@keyframes slide {
  0% {
    bottom: -100%; }
  100% {
    bottom: 0; } }
@-webkit-keyframes away {
  0% {
    bottom: 0; }
  100% {
    bottom: -100%; } }
@keyframes away {
  0% {
    bottom: 0; }
  100% {
    bottom: -100%; } }
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: .8rem; }
  .breadcrumbs li {
    display: block;
    background: #EEEEEE url("../images/breadslice.svg") no-repeat right;
    padding: .2rem 1.3rem .2rem .3rem; }
    .breadcrumbs li:last-of-type {
      background: #EEEEEE url("../images/breadend.svg") no-repeat right; }
    .breadcrumbs li a {
      display: block;
      color: #333333;
      text-decoration: none; }

footer {
  z-index: 2;
  background-color: #690A52;
  padding: 1.5rem 2rem 1rem;
  margin-right: auto;
  position: fixed;
  width: 100%;
  bottom: 0; }
  footer .icons {
    display: inline;
    margin-left: auto; }
    footer .icons a {
      margin: .5rem; }
      footer .icons a:hover i {
        color: #07B8B6;
        -webkit-animation: icons .25s linear;
                animation: icons .25s linear; }
      footer .icons a i {
        color: #FFFFFF; }
    footer .icons p {
      color: #FFFFFF;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: .8rem;
      padding: .5rem; }

@-webkit-keyframes icons {
  0% {
    color: #ffffff; }
  100% {
    color: #07b8b6; } }

@keyframes icons {
  0% {
    color: #ffffff; }
  100% {
    color: #07b8b6; } }
@media (min-width: 750px) {
  nav {
    float: right; }
    nav #hamburger {
      display: none; }
    nav ul {
      display: block;
      background-color: inherit;
      position: relative;
      padding: 0;
      list-style: none;
      margin: 0; }
      nav ul li {
        float: left; }
        nav ul li a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: .8rem 1rem .6rem;
          text-decoration: none; }
          nav ul li a img {
            width: 30px; }
          nav ul li a p {
            font-family: "Roboto", sans-serif;
            color: #FFFFFF;
            font-weight: 300;
            padding: 1rem; } }
@media (min-width: 750px) {
  footer {
    position: relative;
    bottom: 0; }

  .container {
    padding-bottom: 0; } }

/*# sourceMappingURL=subs.css.map */