// SCSS variables

$white: #FFFFFF;
$ltgray: #EEEEEE;
$dkgray: #333333;
$teal: #07B8B6;
$plum: #690A52;

$fonts: 'Roboto', sans-serif;

// Basic normalization

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding-bottom: 100px;
}

header {
  background-color: $plum;
  h1 {
    a {
      text-decoration: none;
      img {
        padding: .75rem;
        width: 15rem;
      }
    }
  }
}

nav {
  #hamburger {
    z-index: 3;
    width: 50px;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }
  ul {
    display: none;
    background-color: $plum;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem 0 5rem;
    list-style: none;
    margin: 0;
    li {      
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem 2rem;
        text-decoration: none;
        img {
          width: 30px;
        }
        p {
          font-family: $fonts;
          color: $white;
          font-weight: 300;
          padding: 1rem;
        }
      }
    }
  }
}

.hidden {
  display: hidden;
  bottom: -100%;
}

.hide {
  display: hidden;
  bottom: -100%;
  animation: away .5s cubic-bezier(.17,1,.86,.97);
}

.shown {
  display: block;
  bottom: 0;
  animation: slide .4s cubic-bezier(.17,1,.86,.97);
}

@keyframes slide {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes away {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -100%;
  }
}

footer {
  z-index: 2;
  background-color: $plum;
  padding: 1.5rem 2rem 1rem;
  margin-right: auto;
  position: fixed;
  width: 100%;
  bottom: 0;
  .icons {
    display: inline;
    margin-left: auto;
    a {
      margin: .5rem;
      i {
        color: $white;
      }
    }
    p {
      color: $white;
      font-family: $fonts;
      font-weight: 300;
      font-size: .8rem;
      padding: .5rem;
    }
  }
}