// SCSS variables

$white: #FFFFFF;
$ltgray: #EEEEEE;
$dkgray: #333333;
$teal: #07B8B6;
$plum: #690A52;

$fonts: 'Roboto', sans-serif;

// Basic normalization

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding-bottom: 100px;
}

header {
  background-color: $plum;
  h1 {
    display: inline-block;
    a {
      text-decoration: none;
      img {
        padding: .75rem .75rem .15rem;
        width: 15rem;
      }
    }
  }
}

nav {
  #hamburger {
    z-index: 3;
    width: 50px;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }
  ul {
    display: none;
    background-color: $plum;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem 0 5rem;
    list-style: none;
    margin: 0;
    z-index: 2;
    li {   
      &:hover {
        a svg .st0 {
          fill:#07b8b6;
          animation: fadein .25s linear;
        }
      }
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem 2rem;
        text-decoration: none;
        svg {
          width: 30px;
          .st0{fill:#ffffff;}
          .st1{fill:#690A52;}
          .st2{fill:#eeeeee;}
        }
        p {
          font-family: $fonts;
          color: $white;
          font-weight: 300;
          padding: 1rem;
        }
      }
    }
  }
}

@keyframes fadein {
  0% {
    fill:#ffffff;
  }
  100% {
    fill:#07b8b6;
  }
}

.hidden {
  display: hidden;
  bottom: -100%;
}

.hide {
  display: hidden;
  bottom: -100%;
  animation: away .5s cubic-bezier(.17,1,.86,.97);
}

.shown {
  display: block;
  bottom: 0;
  animation: slide .4s cubic-bezier(.17,1,.86,.97);
}

@keyframes slide {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes away {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -100%;
  }
}

.breadcrumbs {
  display: flex;
  padding: .25rem;
  font-family: $fonts;
  font-weight: 300;
  font-size: .8rem;
  li {
    display: block;
    background: $ltgray url('../images/breadslice.svg') no-repeat right;
    padding: .2rem 1.3rem .2rem .3rem;
    &:last-of-type {
      background: $ltgray url('../images/breadend.svg') no-repeat right;
    }
    a {
      display: block;
      color: $dkgray;
      text-decoration: none;
    }
  }
}

footer {
  z-index: 2;
  background-color: $plum;
  padding: 1rem;
  margin-right: auto;
  position: fixed;
  width: 100%;
  bottom: 0;
  .icons {
    display: inline;
    margin-left: auto;
    a {
      margin: .5rem;
      &:hover {
        i {
          color: $teal;
          animation: icons .25s linear;
        }
      }
      i {
        color: $white;
      }
    }
    p {
      color: $white;
      font-family: $fonts;
      font-weight: 300;
      font-size: .8rem;
      padding: .5rem .5rem 0;
    }
  }
}

@keyframes icons {
  0% {
    color: #ffffff;
  }
  100% {
    color: #07b8b6;
  }
}


@media(min-width: 750px) {
  nav {
    float: right;
    #hamburger {
      display: none;
    }
    ul {
      display: block;
      background-color: inherit;
      position: relative;
      padding: 0;
      list-style: none;
      margin: 0;
      li {
        float: left;
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: .8rem 1rem .6rem;
          text-decoration: none;
          img {
            width: 30px;
          }
          p {
            font-family: $fonts;
            color: $white;
            font-weight: 300;
            padding: 1rem;
          }
        }
      }
    }
  }
}

@media(min-width: 750px) {
  footer {
    position: relative;
    bottom: 0;
  }
  .container {
    padding-bottom: 0;
  }
}